/* GENERAL */
@import './colors';
$bgSize: 80px 80px;
$checkerGradient: linear-gradient(45deg, $red-40 25%, $black-0 25%, $black-0 75%, $red-40 75%, $red-40 0);

body {
	overflow: none;
	background: -webkit-$checkerGradient, -webkit-$checkerGradient, $white;
	background: -moz-$checkerGradient, -moz-$checkerGradient, $white;
	background: $checkerGradient, $checkerGradient, $white;
	background-position: 0 0, 40px 40px;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: $bgSize;
	background-size: $bgSize;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	-webkit-transform: none;
	transform: none;
	-webkit-transform-origin: 50% 50% 0;
	transform-origin: 50% 50% 0;
}

