@import '../css/colors';
$button-group-radius: 2em;

 .header {

	&__wrapper {
		display: inline;
	}
	&__header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		padding: 0.2em;
		background-color: $gray-dark;
		z-index: 2;
	}

	&__input {
		border-radius: 0.5em;
		border-style: none;
		display: inline-block;
		margin: 0.2em;
		outline: none;
		padding-left: 0.2em;
		padding-right: 0.2em;
		width: 11em;
	}
	
	&__button {
		border-radius: 0.5em;
		border: 0px solid;
		box-shadow:inset 0;
		-moz-box-shadow:inset 0;
		display: inline-block;
		margin: auto;
		width: 11em;

		&:focus {
			outline: 0
		}

		&__login {
			border-top-left-radius: $button-group-radius;
			border-bottom-left-radius: $button-group-radius;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			width: 5em;

			&--selected {
				background-color: $red-40;
				border-color: $red-40;
			}
		}

		&__forgot {
			border: 0px solid;
			border-color: $red-40;
			border-radius: 0;
			width: 10em;

			&--selected {
				background-color: $red-40;
				border-color: $red-40;
			}
		}

		&__signup {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-top-right-radius: $button-group-radius;
			border-bottom-right-radius: $button-group-radius;
			width: 5em;

			&--selected {
				background-color: $red-40;
				border-color: $red-40;
			}
		}

		&__do {
			width: 5em;
			background-color: $green-success;
			border-color: $green-success;

			&--disabled {
				background-color: $red-danger;
				border-color: $red-danger;
			}
		}

		&__new-recipe {
			float: right;
		}
	}
}
