$black-40: rgba(0,0,0,0.4);
$black-80: rgba(0,0,0,0.8);
$black-0: rgba(0,0,0,0);
$black: #000000;
$gray: #F0F0F0;
$gray-dark: #C0C0C0;
$pink: #FFC0CB;
$red-40: rgba(255,0,0,0.4);
$red-danger: #D9534F;
$green-success: #5CB85C;
$yellow-warning: #ECA81B;
$sky-blue: #87CEEB;
$white: #FFFFFF;
