/* GENERAL */
@import './colors';
$bgSize: 80px 80px;
$checkerGradient: linear-gradient(45deg, $red-40 25%, $black-0 25%, $black-0 75%, $red-40 75%, $red-40 0);

body {
	overflow: none;
	background: -webkit-$checkerGradient, -webkit-$checkerGradient, $white;
	background: -moz-$checkerGradient, -moz-$checkerGradient, $white;
	background: $checkerGradient, $checkerGradient, $white;
	background-position: 0 0, 40px 40px;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: $bgSize;
	background-size: $bgSize;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	-webkit-transform: none;
	transform: none;
	-webkit-transform-origin: 50% 50% 0;
	transform-origin: 50% 50% 0;
}

.modalDialog {
	position: fixed;
	top: -2em;;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 3;
	opacity: 0;
	-webkit-transition: opacity 150ms ease-in;
	-moz-transition: opacity 150ms ease-in;
	transition: opacity 150ms ease-in;
	pointer-events: none;
	h2 {
		color: white;
	}
}

.modalDialog.closed {
	display: none;
	opacity: 0;
}

.modalDialog.opened {
	opacity: 1;
	pointer-events: auto;
	display: auto;
}

.modalDialog > div {
	width: 500px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: $white;
	background: -moz-linear-gradient($white, #999);
	background: -webkit-linear-gradient($white, #999);
	background: -o-linear-gradient($white, #999);
}
