/* GENERAL */
body {
  overflow: none;
//  background: linear-gradient(135deg, pink, red, pink, red, pink);


background: -webkit-linear-gradient(45deg, rgba(255,0,0,0.4) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(255,0,0,0.4) 75%, rgba(255,0,0,0.4) 0), -webkit-linear-gradient(45deg, rgba(255,0,0,0.4) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(255,0,0,0.4) 75%, rgba(255,0,0,0.4) 0), rgb(255, 255, 255);
background: -moz-linear-gradient(45deg, rgba(255,0,0,0.4) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(255,0,0,0.4) 75%, rgba(255,0,0,0.4) 0), -moz-linear-gradient(45deg, rgba(255,0,0,0.4) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(255,0,0,0.4) 75%, rgba(255,0,0,0.4) 0), rgb(255, 255, 255);
background: linear-gradient(45deg, rgba(255,0,0,0.4) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(255,0,0,0.4) 75%, rgba(255,0,0,0.4) 0), linear-gradient(45deg, rgba(255,0,0,0.4) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(255,0,0,0.4) 75%, rgba(255,0,0,0.4) 0), rgb(255, 255, 255);
background-position: 0 0, 40px 40px;
-webkit-background-origin: padding-box;
background-origin: padding-box;
-webkit-background-clip: border-box;
background-clip: border-box;
-webkit-background-size: 80px 80px;
background-size: 80px 80px;
-webkit-box-shadow: none;
box-shadow: none;
text-shadow: none;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;

}



div.heading {
  border-bottom: 1px solid pink;
}

div#my-app{ margin-top:1em; margin-bottom: 1em;}

div.recipe {
  background: rgba(240,240,240,1);
  border-radius: 1.5em;
  max-width: 30em;
  padding: 2em;
  margin: 1em;
  box-shadow: 2px 2px black;
}

h3 {
  font-size: 2em;
  margin-top: -0.4em;
}

.btn-danger {
  margin-top: -1em;
  margin-left: 3em;
}

p {
  margin-left: 0px;
  text-align: left;
}

p.instructions {
}

p.instructions.heading {
  border-bottom: 1px solid skyblue;
  margin-left: -1em;
}

p.ingredient-list {
  margin-left: -1em;
  margin-top: 0.3em;
  border-bottom: 1px solid skyblue;
}

ul {
  list-style: none;

  li {
    margin-left: -3em;
  }
  li.ingredient {
    border-bottom: 1px solid skyblue;
  }
}

div.hide-ingredients{
  max-height: 0px;
  opacity: 0;
  transition: max-height 0s, opacity 0s ease-in;

  li.ingredient, p.instructions, li.edit, ul, button, li {
    height:0px;
  }
}

div.show-ingredients{
  height: auto;
  max-height: 1800px;
  opacity: 1;
  transition: max-height 0.6s, opacity 0.5s ease-out;

  li.ingredient, p.instructions, li.edit, ul, button, li {
    height:auto;
  }
  li.edit {
    margin-top: 0.9em;
  }

}

.text-glow:hover, .text-glow:focus, .text-glow:active {
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px #AAFFCC;
  -webkit-transition: width 0.3s; /*Safari & Chrome*/
  transition: width 0.3s;
  -moz-transition: width 0.3s; /* Firefox 4 */
  -o-transition: width 0.3s; /* Opera */
}

.text-glow a {
  -webkit-transition: all 0.3s ease-in; /*Safari & Chrome*/
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in; /* Firefox 4 */
  -o-transition: all 0.3s ease-in; /* Opera */
  text-decoration:none;
}
h2.add-recipes {
  margin-top: 40px;
  margin-left: 3.5em;
}

form {
  margin-top: 40px;
  textarea, input, button {
    border-radius: 7px;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 2.5em;
    width: 25em;
    box-shadow: 2px 2px black;
  }
  textarea {
    height: 15em;
  }

}

.close-edit-box {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close-edit-box:hover { background: #00d9ff; }
