/* GENERAL */
@import './colors';
$bgSize: 80px 80px;


body {
	overflow: none;
	background: -webkit-linear-gradient(45deg, $red-40 25%, $black-0 25%, $black-0 75%, $red-40 75%, $red-40 0), -webkit-linear-gradient(45deg, $red-40 25%, $black-0 25%, $black-0 75%, $red-40 75%, $red-40 0), $white;
	background: -moz-linear-gradient(45deg, $red-40 25%, $black-0 25%, $black-0 75%, $red-40 75%, $red-40 0), -moz-linear-gradient(45deg, $red-40 25%, $black-0 25%, $black-0 75%, $red-40 75%, $red-40 0), $white;
	background: linear-gradient(45deg, $red-40 25%, $black-0 25%, $black-0 75%, $red-40 75%, $red-40 0), linear-gradient(45deg, $red-40 25%, $black-0 25%, $black-0 75%, $red-40 75%, $red-40 0), $white;
	background-position: 0 0, 40px 40px;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: $bgSize;
	background-size: $bgSize;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	-webkit-transform: none;
	transform: none;
	-webkit-transform-origin: 50% 50% 0;
	transform-origin: 50% 50% 0;
}

//div.banner {
//}
//
//div.heading {
//	border-bottom: 1px solid $pink;
//}
//
//div.recipe-button-container {
//	margin-bottom: 0.5em;
//}
//p.footer {
//	text-align: center;
//}
//
//p.recipe-subsection-heading {
//	margin-top: 0.3em;
//	border-bottom: 1px solid $sky-blue;
//}
//
//ul {
//	list-style: none;
//	li.item {
//		border-bottom: 1px solid $sky-blue;
//		margin-left: -1.5em;
//	}
//}
//
//div.recipe-bottom-hide, div.recipe-bottom-hide * {
//	max-height: 0px;
//	opacity: 0;
//	transition: max-height 0.3s, opacity 0.3s ease-in;
//}
//div.recipe-bottom-show, div.recipe-bottom-show * {
//	height: auto;
//	max-height: 1800px;
//	opacity: 1;
//	transition: max-height 0.6s, opacity 0.5s ease-out;
//}
//
//h2 {
//	margin-top: 40px;
//	text-align: center;
//}
//
//form {
//	margin-top: 10px;
//	textarea, input, button {
//		border-radius: 7px;
//		margin-bottom: 3px;
//		margin-top: 3px;
//		max-width: 40em;
//		box-shadow: 2px 2px black;
//	}
//	textarea {
//		height: 10em;
//	}
//}
.modalDialog {
	position: fixed;
	top: -2em;;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 3;
	opacity: 0;
	-webkit-transition: opacity 150ms ease-in;
	-moz-transition: opacity 150ms ease-in;
	transition: opacity 150ms ease-in;
	pointer-events: none;
	h2 {
		color: white;
	}
}

.modalDialog.closed {
	display: none;
	opacity: 0;
}

.modalDialog.opened {
	opacity: 1;
	pointer-events: auto;
	display: auto;
}

.modalDialog > div {
	width: 500px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: $white;
	background: -moz-linear-gradient($white, #999);
	background: -webkit-linear-gradient($white, #999);
	background: -o-linear-gradient($white, #999);
}
